.conversation{
min-height: 100vh;
max-width: 100%;
background: #00CCFF;
}

.conversation .upper-conversation{
height: 75vh;
overflow-y: auto;
}

.conversation .lower-conversation{
    /* position: fixed; */
    height: 25vh;
    width: 100%;
}

.conversation h4{
    color: #0033FF;
}

.contditions textarea{
    border-radius: 20px;
}

.dialog{
    width: 70%;
    margin: auto;
}

.rephrased{
    background: #0a403b;
    color: white;
    border-radius: 20px;
}

@media(max-width:571px){
   .dialog{
    width: 80%;
    margin: auto;
} 
.conversation .lower-conversation{
   
    height: 20vh;
    
}
.conversation .upper-conversation{
height: 80vh;
overflow-y: auto;
}

}

.dialog textarea{
    width: 100%;
    display: block;
    border-radius: 10px;
    border: 2px solid black;
}

.user{
    width: 60%;
    background: #0a403b;
    color: white;
    border-radius: 20px;
}
.ai_doc{
    width: 75%;
    margin-left: 15%;
    background: #3b6634;
    color: white;
    border-radius: 25px;
}


/* icons.css */

/* Base style for all icons */
.icon {
  display: inline-block;
  font-size: 1.55rem; /* Default size */
  vertical-align: middle;
  transition: color 0.3s ease, transform 0.3s ease;
 
  color: white;
}

/* Sizing modifiers */
.icon-sm {
  font-size: 1rem;
}
.icon-lg {
  font-size: 1.75rem;
}
.icon-xl {
  font-size: 2.25rem;
}

/* ----------------------------------------------Doc 1 2 1 CSS------------------------------------------------------------ */

.pat_doc_cont{
    background: #0000ff;
    min-height: 100vh;
}

.pat_doc_cont textarea{
    width: 50%;
    margin: auto;
}

.pat_doc_cont button{
    width: 250px;
    border-radius: 15px;
}

.msg-content{
    width: 70%;
    background: #ff0000;
    border-radius: 20px;

}

/* ----------------------------------------- */

