.doc_sidebar{
  background: #008080;
  height: 100vh;
}

.list-group .list-group-item{
   width: 80%;
    margin: auto;
    border-radius: 10px;
    font-size: 15px;
    background: #1a53ff;
    text-align: center;
    color: white;
}

.list-group .list-group-item:hover{
    background: crimson;
    color: white;
}

.list-group .list-group-item.active-link {
  background: blue;
  color: gold;
}