.doctors-profile{
    width: 60%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid blue;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
}