
body {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, span, button, input, label, form {
  font-family: 'Poppins', sans-serif;
}

.form *{
  width: unset;
}

/* Vertical scrollbar width */
::-webkit-scrollbar {
  width: 8px; /* Works for vertical scrollbar */
}

/* Horizontal scrollbar height */
::-webkit-scrollbar:vertical {
  height: 5px; /* Works for horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: lightseagreen; 
  border-radius: 15px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #21695c; /* Color of the scrollbar */
  border-radius: 10px;
}

/* Hover effect on scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: crimson;
}
